.container{
  font-family: "Noto Sans";
  height: 650px;
  background-color: #990033;
  background: #990033;
}
.page-body{
  display: grid;
  grid-template-areas: "page-logo-left page-body-middle page-body-right";
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #990033;
}
.header-bar{
  width: 100%;
  height: 80px;
  background: #990033;
  border-bottom: 1px solid white;
}
.page-logo-navbar{
  width: 100%;
  height: 100%;
}
.page-logo-left{
  height: 100%;
  width: 30%;
  display: inline-block;
  float: left;
}
.school-logo-left{
  width: 52%;
  height: 100%;
  display: inline-block;
}
.school-logo-main{
  display: inline-block;
  height: 100%;
  width: 35%;
  background-image: url("sutd-logo_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

}
.school-logo-right{
  display: inline-block;
  height: 100%;
  width: 10%;  
}
.page-navbar-right{
  display: inline-block;
  width: 70%;
  height: 100%;
  float: right;
}
.header-navbar-left{
  width: 90%;
  display: inline-block;
}
.header-navbar-list{
  padding: 0px;
  padding-top: 30px;
}
.header-navbar-list li{
  display: inline-block;
}
.header-navbar-list a{
  text-decoration: none;
  padding: 7px 10px;
  margin-left: 10px;
  color: white;
}
.header-navbar-list a:hover{
  background-color: white;
  border-radius: 10px;
  height: 100px;
  color: #990033;
}
.page-body-left{
  height: 100%;
  width: 100%;
}
.student-info-profpic{
  height: 200px;
  width: 100%;
}
.student-profpic-left{
  height: 100%;
  width: 20%;
  display: inline-block;
}
.student-profpic{
  height: 100%;
  width: 60%;
  display: inline-block;
}
.student-profpic-offset-up{
  width: 100%;
  height: 50px;
}
.student-profpic-square{
  width: 100%;
  height: 149px;
  background-image: url("profpic.jpg");
  background-size: contain;
  background-position: center;
}
.student-profpic-right{
  height: 100%;
  width: 17%;
  display: inline-block;
}
.student-info-name{
  width: 100%;
  padding-top: 5px;
}
.student-name{
  margin: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.student-info-username{
  width: 100%;
  padding-bottom: 5px;
}
.student-username{
  margin: 0px;
  text-align: center;
  color: white;
  opacity: 0.7;
  font-style: italic;
}
.student-info-idno{
  width: 100%;
  padding-bottom: 10px;
}
.student-id{
  text-align: center;
  color: white;
  margin: 0;
}
.student-info-email{
  width: 100%;
  padding-bottom: 10px;
}
.student-email{
  margin: 0px;
  text-align: center;
  color: white;
}
.student-info-major{
  width: 100%;
}
.student-major{
  margin: 0px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.main-notifications-up{
  width: 100%;
  height: 150px;
  margin-top: 50px;
  background-color: #E0F7FA;
}
.popup-main{
  width: 95%;
  display: inline-block;
  float: left;
}
.noti-alert{
  width: 100%;
  display: inline-block;
}
.noti-alert p{
  margin: 0px;
}
.action-alert{
  width: 100%;
}
.action-alert-gotopage{
  height: 40px;
  margin-left: 10%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #990033;
  cursor: pointer;
}
.action-alert-share{
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #990033;
  cursor: pointer;
}
.popup-close{
  width: 4.5%;
  display: inline-block;
}
.close-action{
  margin: 0;
  float: right;
  margin-top: 10px;
  color: #990033;
  cursor: pointer;
  font-size: large;
}
.main-notifications-down{
  width: 100%;
  margin-top: 10px;
}
.noti-dashboard-noti-filter{
  height: 40px;
  background-color: #9E9E9E;
}
.noti-filter{
  height: 100%;
  width: 50%;
  float: right;
}
.noti-filter-wrap{
  float: right;
  height: 80%;
  display: flex;
  align-items: center;
}
.noti-filter-wrap select{
  height: 100%;
  border-radius: 10px;
  border: 1px solid #990033;
}
.noti-push{
  width: 100%;
  background-color: #EEEEEE;
  border-bottom: 1px solid #BDBDBD;
}
.noti-push-src{
  padding-bottom: 10px;
}
.noti-push-left{
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
}
.noti-push-right{
  width: 48%;
  height: 100%;
  display: inline-block;
}
.noti-push-progress{
  height: 20px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #990033;
}
.noti-push-progress-filled{
  height: 100%;
  width: 60%;
  background-color: #990033;
  border-radius: 50px;
}
.general-news{
  height: 100%;
  width: 100%;
}
.general-news-header{
  margin-top: 50px;
  width: 100%;
  padding-bottom: 5px;
}
.general-news-list{
  width: 100%;
}
.news-header-left{
  width: 50%;
  display: inline-block;
}
.news-header-right{
  width: 48%;
  display: inline-block;
  float: right;
}
.news-header-header{
  width: 80%;
  margin-left: 15px;
  border-bottom: 7px solid orange;
}
.news-header-header p{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  text-transform: uppercase;
}
.news-header-right p{
  float: right;
  text-transform: uppercase;
  font-size: initial;
  font-weight: bold;
}
.news-title{
  width: 95%;
  margin-left:15px;
  border-bottom: 1px solid white;
}
.news-title a{
  text-decoration: none;
  color: white;
}
.news-time{
  margin: 0px;
  margin-top: 7px;
  color: #FF9800;
}
