.container{
  font-family: "Noto Sans";
  height: 100%;
  background-color: #990033;
  background: #990033;
}
.header-bar{
  width: 100%;
  height: 80px;
  background: #990033;
  border-bottom: 1px solid white;
}
.page-logo-navbar{
  width: 100%;
  height: 100%;
}
.page-logo-left{
  height: 100%;
  width: 30%;
  display: inline-block;
  float: left;
}
.school-logo-left{
  width: 52%;
  height: 100%;
  display: inline-block;
}
.school-logo-main{
  display: inline-block;
  height: 100%;
  width: 35%;
  background-image: url("sutd-logo_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

}
.school-logo-right{
  display: inline-block;
  height: 100%;
  width: 10%;  
}
.page-navbar-right{
  display: inline-block;
  width: 70%;
  height: 100%;
  float: right;
}
.header-navbar-left{
  width: 90%;
  display: inline-block;
}
.header-navbar-list{
  padding: 0px;
  padding-top: 30px;
}
.header-navbar-list li{
  display: inline-block;
}
.header-navbar-list a{
  text-decoration: none;
  padding: 7px 10px;
  margin-left: 10px;
  color: white;
}
.header-navbar-list a:hover{
  background-color: white;
  border-radius: 10px;
  height: 100px;
  color: #990033;
}
.page-body{
  display: grid;
  grid-template-areas: "page-body-left page-body-middle page-body-right";
  grid-template-columns: 1fr 3fr 1fr;
}
.page-body-left{
  width: 100%;
}
.on-day-container{
  width: 100%;
  
}
.on-day-container-offset{
  width: 100%;
  height: 50px;
}
.on-day-main{
  width: 100%;
  background-color: #FAFAFA;
  border-left: 1px solid #990033;
}
.on-day-box-date{
  width: 100%;
  height: 30px;
  background-color: #9E9E9E;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.on-day-box-date p{
  margin: 0;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.todo-push{
  border-bottom: 1px solid orange;
}
.todo-push-up{
  width: 100%;
}
.todo-priority-1{
  margin: 0;
  color: #FF5722;
  padding-left: 3%;
  padding-bottom: 10px;
}
.todo-title-1{
  margin: 0;
  text-align: center;
}
.todo-time-1{
  margin: 0;
  font-style: italic;
  opacity: 0.6;
  text-align: center;
}
.todo-progress-1{
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
.todo-priority-2{
  margin: 0;
  color: #FF5722;
  padding-left: 3%;
  padding-bottom: 10px;
}
.todo-title-2{
  margin: 0;
  text-align: center;
}
.todo-time-2{
  margin: 0;
  font-style: italic;
  opacity: 0.6;
  text-align: center;
}
.todo-progress-2{
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
.todo-push-down{
  width: 100%;
  display: flex;
  justify-content: center;
}
.todo-push-down ul{
  padding: 0;
  margin: 0;
  padding-top: 5px;
}
.todo-push-down li{
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 5px;
}
.todo-push-down button{
  height: 25px;
  border-radius: 50%;
  border: 1px solid #00E676;
  background-color: white;
  color: #00E676;
}
.page-body-middle-offset{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.todo-view-toggle-mode{
  width: 100%;
  background-color: #990033;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.toggle-view-order{
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
.toggle-view-calendar{
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
.page-body-middle-main{
  margin-left: 3%;
  margin-right: 3%;
  background-color: #E1F5FE;
}
.todo-priority-order-container{
  display: none;
}
.todo-order-head{
  width: 100%;
  height: 30px;
  background-color: #9E9E9E;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}
.todo-order-head select{
  border-radius: 5px;
  border: 1px solid #990033
}
.todo-push-src p{
  margin: 0;
  margin-left: 5%;
  padding-bottom: 15px;
}
.todo-push-noti p{
  margin: 0;
  text-align: center;
}
.todo-push-noti a{
  color: #990033;
}
#time{
  opacity: 0.7;
  font-style: italic;
}
#time a{
  color: grey;
}
.page-body-right{
  width: 99%;
  height: 100%;
}
.todo-add-offset{
  width: 100%;
  height: 50px;
}
.todo-add-container{
  width: 100%;
  background-color: #FAFAFA;
  border: 1px solid #990033;
}
.form-title p{
  margin: 0;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  background-color: #9E9E9E;
  border-bottom: 1px solid;
  padding: 5px;
}
.form-group{
  padding: 10px;
  width: 90%;
}
.form-group input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #990033;
  border-radius: 5px;
  box-shadow: 1px 2px #990033;
  height: 30px;
  width: 100%;
}
.form-group select{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #990033;
  border-radius: 5px;
  box-shadow: 1px 2px #990033;
  height: 30px;
  width: 100%;
}
.todo-add-submit{
  height: 30px;
  width: 30%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #00E676;
  color: #00E676;
  font-family: "Noto Sans";
  font-weight: bold;
  cursor: pointer;
}
#calendar .fc-agenda-axis, #calendar .fc-widget-header{
  background-color: #00b1c0;
  border-color: #AED0EA;
  font-weight: normal;
  padding: 3px;
  border-radius: 3px;
}
